
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{base::layout(~{::section})}"><head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Serving In</title>
   
</head>
<body>
	<section>
		<slider>
			<div class="container mt-3">
			        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
			            <div class="carousel-inner">
			              <div class="carousel-item active">
			                <img src="/slider/cleaner2.jpg" alt="..." style="height: 450px"> 
			              </div>
			              <div class="carousel-item">
			                <img src="/slider/cleaner7.jpg" alt="..." style="height: 450px">
			              </div>
			              <div class="carousel-item">
			                <img src="/slider/cleaner9.jpg" alt="..." style="height: 450px">
			              </div>
			              <div class="carousel-item">
			                <img src="/slider/sweeper1.jpg" alt="..." style="height: 450px">
			              </div>
			            </div>
			          </div>
			        </div>
		  </slider>

<div class="serving-section">
    <h2 class="text-warning ">Serving In</h2>
    <p>27+ Cities and counting</p>
    <div class="city-grid">
        <div class="city">
            <img src="/images/Delhi.jpg" alt="Delhi">
            <a href="/cities/service_provider/cleanerDelhi" id="city"><p>Delhi</p></a>
        </div>
        <div class="city">
            <img src="/images/noida.jpg" alt="Noida">
            <a href="/cities/service_provider/cleanerNoida" id="city"><p>Noida</p></a>
        </div>
        <div class="city">
            <img src="/images/gurugram.jpg" alt="Gurugram">
            <a href="/cities/service_provider/cleanerGurugram" id="city"><p>Gurugram</p></a>
        </div>
        <div class="city">
            <img src="/images/gaziabad1.jpg" alt="Ghaziabad">
            <a href="/cities/service_provider/cleanerGhaziabad" id="city"><p>Ghaziabad</p></a>
        </div>
        <div class="city">
            <img src="/images/Faridabad.jpg" alt="Faridabad">
            <a href="/cities/service_provider/cleanerFaridabad" id="city"><p>Faridabad</p></a>
        </div>
        <div class="city">
            <img src="/images/gorakhpur.png" alt="Gorakhpur">
            <a href="/cities/service_provider/cleanerGorakhpur" id="city"><p>Gorakhpur</p></a>
        </div>
        <div class="city">
            <img src="/images/bengaluru.jpg" alt="Bengaluru">
            <a href="/cities/service_provider/cleanerBengaluru" id="city"><p>Bengaluru</p></a>
        </div>
        <div class="city">
            <img src="/images/hyderabad.jpg" alt="Hyderabad">
            <a href="/cities/service_provider/services?category=Cleaner" id="city"><p>Hyderabad</p></a>
        </div>
        <div class="city">
            <img src="/images/chennai.jpg" alt="Chennai">
            <a href="/cities/service_provider/cleanerChennai" id="city"><p>Chennai</p></a>
        </div>
        <div class="city">
            <img src="/images/kolkata.jpg" alt="Kolkata">
            <a href="/cities/service_provider/cleanerKolkata" id="city"><p>Kolkata</p></a>
        </div>
        <div class="city">
            <img src="/images/ahmedabad.jpg" alt="Ahmedabad">
            <a href="/cities/service_provider/cleanerAhmedabad" id="city"><p>Ahmedabad</p></a>
        </div>
        <div class="city">
            <img src="/images/jaipur.jpg" alt="Jaipur">
            <a href="/cities/service_provider/cleanerJaipur" id="city"><p>Jaipur</p></a>
        </div>
        <div class="city">
            <img src="/images/pune.jpg" alt="Pune">
            <a href="/cities/service_provider/cleanerPune" id="city"><p>Pune</p></a>
        </div>
        <div class="city">
            <img src="/images/mumbai.jpg" alt="Mumbai">
            <a href="/cities/service_provider/cleanerMumbai" id="city"><p>Mumbai</p></a>
        </div>
        <div class="city">
            <img src="/images/thane.jpg" alt="Thane">
            <a href="/cities/service_provider/cleanerThane" id="city"><p>Thane</p></a>
        </div>
        <div class="city">
            <img src="/images/Kanpur.jpeg" alt="Kanpur">
            <a href="/cities/service_provider/cleanerKanpur" id="city"><p>Kanpur</p></a>
        </div>
        <div class="city">
            <img src="/images/indore.jpg" alt="Indore">
            <a href="/cities/service_provider/cleanerIndore" id="city"><p>Indore</p></a>
        </div>
        <div class="city">
            <img src="/images/chandigarh.jpg" alt="Chandigarh">
            <a href="/cities/service_provider/cleanerChandigarh" id="city"><p>Chandigarh</p></a>
        </div>
        <div class="city">
            <img src="/images/allahabad.jpg" alt="Allahabad">
            <a href="/cities/service_provider/cleanerAllahabad" id="city"><p>Allahabad</p></a>
        </div>
        <div class="city">
            <img src="/images/Varanasi.jpg" alt="Varanasi">
            <a href="/cities/service_provider/cleanerVaranasi" id="city"><p>Varanasi</p></a>
        </div>
        <div class="city">
            <img src="/images/BalliaUp60.jpg" alt="Balia">
            <a href="/cities/service_provider/cleanerBalia" id="city"><p>Balia</p></a>
        </div>
        <div class="city">
            <img src="/images/Sarnath.png" alt="Sarnath">
            <a href="/cities/service_provider/cleanerSarnath" id="city"><p>Sarnath</p></a>
        </div>
        <div class="city">
            <img src="/images/Lucknow.jpg" alt="Lucknow">
            <a href="/cities/service_provider/cleanerLucknow" id="city"><p>Lucknow</p></a>
        </div>
        <div class="city">
            <img src="/images/Haridwar.png" alt="Haridwar">
            <a href="/cities/service_provider/cleanerHaridwar" id="city"><p>Haridwar</p></a>
        </div>
        <div class="city">
            <img src="/images/dehradun.jpg" alt="Dehradun">
            <a href="/cities/service_provider/cleanerDehradun" id="city"><p>Dehradun</p></a>
        </div>
        <div class="city">
            <img src="/images/Patna.jpg" alt="Patna">
            <a href="/cities/service_provider/cleanerPatna" id="city"><p>Patna</p></a>
        </div>
        <div class="city">
            <img src="/images/oddisa.png" alt="Odisa">
            <a href="/cities/service_provider/cleanerOdisa" id="city"><p>Odisa</p></a>
        </div>
        <div class="city">
            <img src="/images/india.jpg" alt="Other City">
            <p>Other City</p>
        </div>
    </div>
</div>
</section>
</body>
</html>
