<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{base::layout(~{::section})}">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>About </title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
  	<!-- Vendor CSS Files -->
  	<link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  	<link href="/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  	<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
  	<!-- Main CSS File -->
  	<link href="assets/css/main.css" rel="stylesheet">
  	<link href="css/style.css" rel="stylesheet">
  	<link href="css/bootstrap.min.css" rel="stylesheet">

  
</head>

<body >
<section>
   <!-- Section Title -->
 <div class="container section-title mt-5" data-aos="fade-up">
  <h1 class='text-danger text-center'>About Us</h1>
</div><!-- End Section Title -->
  <div class="container my-5">

    <div class="row">
      <div class="col-md-6" style="text-align: justify;">
        <h2>My Everyday Partner</h2>
        <p>Are you tired of searching for reliable and trustworthy service providers? Look no further! 
          My Everyday Partner is here to connect you with top-notch professionals who can help you with all your everyday tasks.
          From keeping your home sparkling clean to ensuring your electrical and plumbing systems are in top shape, our 
          platform offers a wide range of services to make your life easier. Whether you need a skilled barber, a talented painter, 
          a delicious home-cooked meal, or any other service, we've got you covered.</p>

        <h2>Our Story</h2>
        <p>My Everyday Partner was born out of a desire to simplify the process of connecting customers with trusted service providers. 
          Recognizing the challenges people face in finding reliable professionals, we created a platform that offers a seamless 
          and efficient way to book a variety of services. Our goal is to bring convenience and trust to the forefront of service 
          booking, ensuring that customers can find the help they need quickly and easily.</p>
        </div>
        <div class="col-md-6">

          <img src="/img/paper-946926_1920.jpg" alt="About Us" class="img-fluid custom-img" 
        style="border-radius: 10px;"  >
      </div>
    </div>
  </div>

  <div class="container my-5">
    <div class="row">
      <div class="col-md-6" style="text-align: justify;">
        <img src="/img/man-1001426_1920.jpg" alt="About Us" class="img-fluid custom-img " style="border-radius: 10px;">
</div>
      <div class="col-md-6">
        <h2 class="mb-3 mt-2" >Our Mission</h2>
        <p style="text-align: justify;">Our mission is to empower individuals by providing a platform that enables them to find and book trusted service providers with ease. 
          We aim to support local businesses and entrepreneurs, fostering a community of skilled professionals dedicated to delivering 
          high-quality services. By connecting customers with reliable service providers, we strive to enhance the overall service 
          experience and make everyday tasks more manageable.</p>

         <h2>Why Choose Us?</h2>
        <ul class="list-square">
          <li>Convenience: Book services with just a few clicks, anytime, anywhere.</li>
          <li>Trust: Our service providers are vetted and reviewed by customers to ensure reliability.</li>
          <li>Quality: We ensure high-quality services through our rigorous rating system.</li>
          <li>Support: Our dedicated customer support team is always ready to assist you.</li>
        </ul>
      </div>
    </div>
  </div>
 

  <section class="about-section text-center py-5 bg-war bg-light">
    <div class="container section-title" data-aos="fade-up">
      <h1 class='text-danger mb-4'>Services</h1>
    </div><!-- End Section Title -->
    <div class="container">
      <div class="row">
        <div class="col-md-4 ">
          <div class="card">
            <div class="card-body">
              <i class="fas fa-broom fa-3x mb-3 text-dark mt-4"></i>
              <h5 class="card-title"><a href="" class="text-decoration-none text-dark">Cleaners</a></h5>
              <p class="card-text">Professional cleaning services to keep your home spotless and hygienic.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <i class="fas fa-cut fa-3x mb-3 text-dark mt-4" ></i>
              <h5 class="card-title"><a href="" class="text-decoration-none text-dark">Barbers</a></h5>
              <p class="card-text">Expert barber services to keep you looking sharp and stylish.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <i class="fas fa-paint-roller fa-3x mb-3 text-dark mt-4"></i>
              <h5 class="card-title"><a href="" class="text-decoration-none text-dark">Painters</a></h5>
              <p class="card-text">Skilled painters to give your home a fresh and vibrant look.</p>
            </div>
          </div>
        </div>
      </div>
      
      <div class="row mt-4">
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <i class="fas fa-bolt fa-3x mb-3 text-dark mt-4"></i>
              <h5 class="card-title"><a href="" class="text-decoration-none text-dark">Electricians</a></h5>
              <p class="card-text">Qualified electricians to handle all your electrical needs safely.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <i class="fas fa-wrench fa-3x mb-3 text-dark mt-4"></i>
              <h5 class="card-title"><a href="" class="text-decoration-none text-dark">Plumbers</a></h5>
              <p class="card-text">Experienced plumbers to fix any plumbing issues in your home.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <i class="fas fa-utensils fa-3x mb-3 text-dark mt-4"></i>
              <h5 class="card-title"><a href="" class="text-decoration-none text-dark">Cooks</a></h5>
              <p class="card-text">Talented cooks to prepare delicious meals for you and your family.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <main class="main">
    <!-- Team Section -->
    <section id="team" class="team section text-center mb-5">
		<h1 class='text-danger mb-3 mt-3'>Our Team</h1>

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="team-member">
              <div class="member-img">
                <img src="assets/img/team/shubham1.jpeg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter-x"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4 class="text-center">Shubham Sharma</h4>
                <span class="text-center">Full Stack Developer</span>
              </div>
            </div>
          </div><!-- End Team Member -->

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
            <div class="team-member">
              <div class="member-img">
                <img src="assets/img/team/manish.jpeg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter-x"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4 class="text-center">Manish Mishra</h4>
                <span class="text-center"> Full Stack Developer</span>
              </div>
            </div>
          </div><!-- End Team Member -->

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
            <div class="team-member">
              <div class="member-img">
                <img src="assets/img/team/ankita.jpeg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter-x"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4 class="text-center">Ankita Mandale</h4>
                <span class="text-center">Full Stack Developer</span>
              </div>
            </div>
          </div><!-- End Team Member -->

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
            <div class="team-member">
              <div class="member-img">
                <img src="assets/img/team/rk.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter-x"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4 class="text-center">Bhanoth Rajkumar</h4>
                <span class="text-center">Full Stack Developer</span>
              </div>
            </div>
          </div><!-- End Team Member -->

        </div>

      </div>

    </section><!-- /Team Section -->

  </main>

  </section>
  <!-- Vendor JS Files -->
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>

  <!-- Main JS File -->
  <script src="assets/js/main.js"></script>


</body>

</html>